$generalpadding: 16px ;


@mixin boxshadow {
    -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}


article {
    display: flex;
    flex-wrap: wrap;
    
  
  
  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    @include boxshadow;
    padding: $generalpadding;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
  }
  
  section#selling-points {
    flex-grow: 2;
    flex-basis: 100%;
  }
  
  pre {
    background: #000;
    border: 1px solid #ddd;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 16px;
    display: block;
    white-space: pre-wrap;
  }
  
  pre.before {
    float: left;
    width: 40%;
  }
  
  pre.after {
    float: right;
    width: 40%;
  }

}